:root {
	--primary-color : yellow
	--secondary-color:white
	--background-color:black
}
body {
  font-family: sans-serif;
  color: white;
  background-color:#857F7F;"
  text-shadow: 1px 1px 2px pink;
}
*{
	max-width: 80%;
	margin:1 auto;
}
#pfp{
	border-radius:50%;
	box-shadow:10px 10px dimgray;
}
li{
	display: inline-block;
}
a{
	
}
.dark-mode {
  background-color: black;
  color: white;
}
}